<div class="lp-container" id="start">
  <div class="lp-left-side"></div>
  <img id="left-side-img" src="/assets/img/me_landingpage.png" alt="" />

  <div class="lp-right-side">
    <div class="headline">
      <div class="i-am">I am</div>
      <div class="name">Christian Westrich</div>
      <div class="profession">Full-Stack-Developer</div>
      <app-button
        [btnText]="btnText"
        class="lets-talk-btn"
        (click)="goTo('#contact')"
      ></app-button>
    </div>
  </div>
  <div class="background-image"></div>
  <div class="scroll-bar">
    <div>Scroll down</div>
    <div class="arrows">>>></div>
  </div>
</div>
<div class="bottom-lp">
  <div class="symbols">
    <img src="/assets/img/line_landingpage.png" alt="" />
    <app-symbols class="symbol-elements"></app-symbols>
    <a href="mailto:christian.westrich@gmx.de">christian.westrich&#64;gmx.de</a>
  </div>
</div>

<app-aboutme></app-aboutme>
<app-myskills></app-myskills>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
