<div class="lp-container">
    <div class="lp-left-side">
        <img src="/assets/img/me_landingpage.png" alt="">
    </div>
    <div class="lp-right-side">
        <div class="headline">
            <div class="i-am">I am</div>
            <div class="name">Christian Westrich</div>
            <div class="profession">Full-Stack-Developer</div>
            <app-button [btnText]="btnText" class="lets-talk-btn"></app-button>
        </div>
    </div>
</div>
<div class="background-image"></div>
<div class="bottom-lp">
    <div class="symbols">
        <img src="../../assets/img/line_landingpage.png" alt="">
        <app-symbols class="symbol-elements"></app-symbols>
        <a href="mailto:christian.westrich@gmx.de">christian.westrich&#64; gmx.de</a>
    </div>
    <div class="scroll-bar">
        <span>Scroll down</span>
        <div class="arrows">>>></div>
    </div>
</div>