<div>
    <h1>{{"pPolicy.policy1" | translate}}</h1>
    <br>
    <p>{{"pPolicy.policy2" | translate}}</p>
    <br>
    <p>Christian Westrich</p>
    <br>
    <h2>{{"pPolicy.policy3" | translate}}</h2>
    <br>
    <p>{{"pPolicy.policy4" | translate}}</p>
    <br>
    <ul>
        <li>{{"pPolicy.policy5" | translate}}</li>
        <li>{{"pPolicy.policy6" | translate}}</li>
        <li>{{"pPolicy.policy7" | translate}}</li>
        <li>{{"pPolicy.policy8" | translate}}</li>
        <li>{{"pPolicy.policy9" | translate}}/li>
        <li>{{"pPolicy.policy10" | translate}}</li>
    </ul>
    <br>
    <p>{{"pPolicy.policy11" | translate}}</p>

    <p>{{"pPolicy.policy12" | translate}}</p>

    <p>{{"pPolicy.policy13" | translate}} </p>
    <br>
    <a href="www.bfdi.bund.de.">www.bfdi.bund.de.</a>
    <br>
    <br>
    <h2>{{"pPolicy.policy29" | translate}}</h2>
    <br>
    <h3>{{"pPolicy.policy30" | translate}}</h3>
    <br>
    <p>{{"pPolicy.policy14" | translate}}</p>
    <br>
    <h3>{{"pPolicy.policy31" | translate}}:</h3>
    <br>
    <p>{{"pPolicy.policy15" | translate}}</p>

    <p>{{"pPolicy.policy33" | translate}}</p>

    <p>{{"pPolicy.policy34" | translate}}</p>
    <br>
    <h3>{{"pPolicy.policy32" | translate}}</h3>
    <br>
    <p>{{"pPolicy.policy16" | translate}}</p>
    <br>
    <h3>{{"pPolicy.policy35" | translate}}</h3>
    <br>
    <p>{{"pPolicy.policy17" | translate}}</p>

    <p>{{"pPolicy.policy18" | translate}}</p>
    <br>
    <h3>{{"pPolicy.policy36" | translate}}</h3>
    <br>
    <p>{{"pPolicy.policy19" | translate}}</p>
    <br>
    <h2>{{"pPolicy.policy37" | translate}}</h2>
    <br>
    <p>{{"pPolicy.policy20" | translate}}</p>
    <br>
    <h2>{{"pPolicy.policy38" | translate}}</h2>
    <br>
    <h3>{{"pPolicy.policy39" | translate}}</h3>
    <br>
    <p>{{"pPolicy.policy21" | translate}}</p>
    <br>
    <p>{{"pPolicy.policy22" | translate}}</p>
    <br>
    <h3>{{"pPolicy.policy23" | translate}}</h3>
    <br>
    <p>Christian Westrich</p>
    <br>
    <h2>{{"pPolicy.policy24" | translate}}</h2>
    <br>
    <p>{{"pPolicy.policy25" | translate}}</p>
    <br>
    <h2>{{"pPolicy.policy26" | translate}}</h2>
    <br>
    <p>{{"pPolicy.policy27" | translate}}</p>
    <p>{{"pPolicy.policy28" | translate}}</p>
</div>