<div class="header">
    <div class="logo"><span>Chr</span><span style="color: #70e61c">i</span><span>st</span><span
            style="color: #9747ff">i</span><span>an</span></div>
    <div class="menu">
        <a [routerLink]="['/']" (click)="goTo('#aboutMe')" class="aboutMe">{{'header.about' | translate}}</a>
        <a [routerLink]="['/']" (click)="goTo('#skills')" class="skills">Skills</a>
        <a [routerLink]="['/']" (click)="goTo('#portfolio')" class="portfolio">Portfolio</a>
        <div class="language-select" (click)="translating()">{{language}}</div>
    </div>
</div>