* {
    color: white;
}

@import '../../../styles.scss';


.header {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 2px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: transparent;
    max-width: 1920px;
}

.logo {
    font-size: 32px
}

.language-select {
    text-align: center;
    background-image: url(../../../assets/img/german-flag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    font-weight: 700;
    cursor: pointer;
}

.menu {
    @include dFlex();
    font-weight: 400;
    font-size: 23px;
    gap: 29px;
    width: fit-content;
    height: 32px;
}
    .links{
    cursor: pointer;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 80%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $myGreen;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      >a {
        text-decoration: none;
      }
    }
    // >a {
    //     text-decoration: none;
    // }

    // >:hover {
    //     transition: all 0.225s ease-in-out;
    //     color: $myPurple;
    //     text-shadow: 1px 1px 2px;
    //     transform: scale(1.2);
    // }
