<div class="main-content">
    <div class="left-side">
        <div class="headline">About Me</div>
        <div class="text-boxes">
            <div class="my-description">Hi, I am a Full-Stack-Developer based near Nueremberg. Lorem ipsum dolor, sit
                amet consectetur adipisicing elit. Perferendis natus illum explicabo quo maiores, minus aperiam
                accusantium! Debitis magnam cupiditate quos, unde reprehenderit optio ipsam esse ullam nam officia
                possimus.
            </div>
            <div class="ideas-section">
                <img src="../../assets/img/bulb.png" alt="">
                <div class="my-ideas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed nisi
                    vitae laborum consequuntur accusamus praesentium magni esse deleniti maiores molestias odit ex harum
                    qui, impedit, eaque expedita quae obcaecati?</div>
            </div>
            <div class="puzzle-section">
                <img src="../../assets/img/puzzle.png" alt="">
                <div class="my-puzzle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nulla enim dolore ducimus perspiciatis necessitatibus debitis praesentium reiciendis animi in natus, unde maxime voluptatem, quo ipsa dolorem minima repellat porro.</div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <img class="shadow-about-me" src="../../assets/img/shadow_about_me.png" alt="">
        <div class="portrait">
            <img src="../../assets/img/portrait.png" alt="">
            <img src="../../assets/img/line_green.png" alt="">
        </div>
    </div>
</div>