<div id="aboutMe" class="main-content">
    <div class="left-side">
        <div class="headline">{{"aboutme.headline" | translate}}</div>
        <div class="text-boxes">
            <div class="my-description">{{"aboutme.description" | translate}}</div>
            <div class="ideas-section">
                <img src="../../assets/img/bulb.png" alt="">
                <div class="my-ideas">{{"aboutme.ideas" | translate}}</div>
            </div>
            <div class="puzzle-section">
                <img src="../../assets/img/puzzle.png" alt="">
                <div class="my-puzzle">{{"aboutme.puzzle" | translate}}</div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <img class="shadow-about-me" src="../../assets/img/shadow_about_me.png" alt="">
        <div class="portrait">
            <div></div>
            <img src="../../assets/img/line_green.png" alt="">
        </div>
    </div>
</div>