.content {
  padding: 20px 20px 100px 20px;
  height: 100vh;
  max-width: 1920px;
}

* {
  color: white;
  font-family: "Poppins";
  > a {
    color: #9747ff;
  }
}

h1 {
  font-size: 64px;
}
@media (max-width: 650px) {
  h1 {
    font-size: 38px
  }
}