<div class="content">
  <h1>{{ "imprint.imprint" | translate }}</h1>

  <h2>{{ "imprint.information" | translate }}</h2>

  <div>
    Full-Stack-Developer <br />
    Christian Westrich
  </div>

  <h3>{{ "imprint.post" | translate }}</h3>
  <div>
    Bodenfeld 3a <br />
    91466 Gerhardshofen
  </div>

  <h3>{{ "imprint.contact" | translate }}</h3>

  <div>
    Mobil: <a href="tel:015122632005">015122632005</a><br />
    Email:
    <a href="mailto:kontakt@christian-westrich.de">kontakt&#64;christian-westrich.de</a>
  </div>

  <h3>{{ "imprint.information2" | translate }}</h3>
  <div>
    {{ "imprint.law" | translate }}
  </div>
  <div>
    {{ "imprint.obligated" | translate }}
  </div>
  <div>
    {{ "imprint.foot1" | translate
    }}<a href="https://www.activemind.de/datenschutz/generatoren/impressum/" target="_blank">{{
      "imprint.generator" | translate
    }}</a>
    {{ "imprint.foot2" | translate }}
  </div>
</div>
