<div class="content" >
        <div class="left-side">
            <img src="{{imgLink}}" alt="">
        </div>
        <div class="right-side" #projectRightSide>
            <div class="project-name">{{projectName}}</div>
            <div class="used-language">{{usedLanguage}}</div>
            <div class="description">{{description}}</div>
            <div class="btn-container">
                <a href="{{liveLink}}" target="_blank" class="live-btn">Live test</a>
                <a href="{{gitLink}}" target="_blank" class="git-btn">Github</a>
            </div>
        </div>             
</div>