@import '../../styles.scss';

.portfolio-content {
    position: relative;
    max-width: 1920px;
    overflow-x: hidden;
}

.portfolio-headline {
    display: flex;
    margin-top: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 90px;
    font-weight: 700;
}

.portfolio-text {
    @include dFlex();
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.purple-shadow-top {
    >img {
    position: absolute;
    bottom: 0;
    rotate: 90deg;
    left: 0;
    width: 550px;
    height: 550px;
    z-index: -1;
    }
}

.green-shadow-bottom {
    >img {
    position: absolute;
    top: 550px;
    right: 0;
    width: 350px;
    height: 350px;
    z-index: -1;
    }
}


