@import '../../styles.scss';


.content-skills {
    @include dFlex();
    margin-top: 250px;
    max-width: 1920px;
    position: relative;
}

.left-side {
    width: 50%;
    @include dFlex();
    margin-left: 150px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.right-side {
    width: 50%;
    flex-direction: column;
}

.my-skills {
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: end;
    width: 100%;
}

.skill-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 550px;
    flex-direction: column;
    margin-right: 150px;
    opacity: 0;
}

.text-box {
    font-size: 16px;
    font-weight: 400px;
    color: white;
    text-align: end
}

.img-box {
    display: flex;
    justify-content: end;
    width: 20%;
}

.right-content-box {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row !important;
    width: 100%;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-in-touch-btn {
    margin-top: 50px;
}

.shadow-green img {
    position: absolute;
    left: 150px;
    top: 50px;
    width: 500px;
    height: 500px;
    z-index: -1;
}



.animation-coming-in {
    animation: coming-in 1s ease-in-out;
    opacity: 1;
}

@keyframes coming-in {
    0% {
        opacity: 0.5;
        scale: 0.1;
        transform: translateY(-250px);
    }
}


@media (max-width: 1500px) {
    .icon-wrapper {
        gap: 60px;

    }
}

@media (max-width: 1350px) {
    .content-skills {
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .left-side {
        margin-left: 0px;
    }

    .right-side {
        width: 100%;
        margin: 0;
        padding-bottom: 100px;

    }

    .icon-wrapper {
        padding: 0;
        width: 100%;
    }

    .shadow-green img {
        top: 250px;

    }

    .skill-container {
        margin: 0;
    }

    .my-skills {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .my-skills {
        font-size: 46px;
        text-align: end;
    }




    .get-in-touch-btn {
        padding-left: 200px;
    }

    .shadow-green {
        >img {
            width: 250px;
            height: 250px;
        }
    }
}

@media (max-width: 510px) {
    .img-box {
        display: none;
    }

    .skill-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        >.my-skills,
        .text-box {
            text-align: center;
        }

        >.get-in-touch-btn {
            padding-left: 0px;
        } 

    }
}