<div style="margin-left: 150px; margin-top: 150px;">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>

    <div>
         Full-Stack-Developer <br>
        Christian Westrich
    </div>

    <h3>Postanschrift</h3>
    <div>
          Bodenfeld 3a <br>
         91466 Gerhardshofen
    </div>

    <h3>Kontakt</h3>

    <div>
         Mobil:   <a href="tel:015122632005">015122632005</a><br>
         Email:   <a href="mailto:christian.westrich@gmx.de">christian.westrich&#64;gmx.de</a>
    </div>


    <h3>Information gemäß § 36 VSBG</h3>
    <div>
         Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:
    </div>
    <div>
        Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </div>
    <div>
        Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator der activeMind AG </a>erstellt.
    </div>

</div>
