@import '../../../styles.scss';

.footer-symbols {
    @include dFlex();
    flex-direction: row;
    gap: 30px;
    cursor: pointer;

    >img {
        width: 30px;
        height: 30px;

        &:hover {
            transition: all 0.225s ease-in-out;
            transform: scale(1.5);
        }
    }
}